body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ECF0F1;
}

header {
    background-color: #258780;
    padding: 20px;
}

.download-icon {
    width: 130px;
    height: auto;
}

.download-button {
    background-color: #258780;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 15px 150px; /* Увеличение длины кнопки в 2 раза */
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 50px auto;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    max-width: 90%;
}

.download-button:hover {
    background-color: #289189de;
}

.button-icon {
    width: 20px;
    height: auto;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .download-icon {
        width: 100px;
    }
    .download-button {
        padding: 15px 100px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .download-icon {
        width: 80px;
    }
    .download-button {
        padding: 12px 50px;
        font-size: 14px;
    }
    .button-icon {
        width: 16px;
    }
}
.download-button {
    display: inline-flex;
    align-items: center;
    padding: 15px 150px;
    background-color: #258780;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.button-icon {
    margin-right: 8px;
}
